body {
	text-align:center;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}

.smallHeading-section {
	padding-top:0;
}

.iconBar {
	text-align: center;
}

.documents .icon:hover {
	color: white;
}

.featuresList {
	padding-left:18%;
}

.featuresList li{
	text-align: left;
}

.featuresInfo {
	width:400px;
}