$basecolor: #00838F;
$header: #005662;
$offwhite: #F5F5F6;
$keygrey: #95989A;
$main: #636363;
$lightgrey: #F2F2F2;
$highlight: #EC407A;


body {
	font-family: "Roboto", sans-serif;
}

#main {
	color: $main;
}


#main h2 {
	color: $header;
	text-transform: uppercase;
}

#main p {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#main > .main:first-child {
	padding: 0;
}

#nav {
	padding: 0em 3em;
	transition: background-color 200ms linear;
}

#nav + #main {
	padding-top: 0;
}

#wrapper {
	width: 100%;
    margin: 0;
    max-width: 100%;
}

#nav.alt {
	width: 100%;
    max-width: 100%;
    color: $offwhite;
    padding: 0 4em;
    background-color: $header;
}

#nav.alt ul li {
	height: 100%;
}

#nav ul li a:not(.active):hover {
	border-bottom: thick solid $highlight;
	color:inherit;
	background-color:inherit;
	border-radius: 0px;
	padding: 0px;
	margin: 0 1.25em;
}

#nav ul li a.active {
	background-color: $offwhite;
	color: $header;
	border-radius: 0px;
	height: 100%;
	padding: 1em;
}

#nav ul li a.active:hover > span {
	padding-bottom: 5px;
	border-bottom: thick solid $highlight;
}

#nav ul {
	float: right;
}

#nav.scroll {
  background-color: rgba(0,0,0,0);
}

#main_img {
	width: 100%;
}

#video_prototype {
	border: 1px solid $keygrey;
}

.hidden {
	opacity: 0;
}

#navlist{
    float: right; 
    display:inline-block;
}

#logo {
	font-family: "Josefin Sans", sans-serif;
	float:left;
	font-size: 1.5em;
    padding-top: .5em;
    padding-left: .5em;
}

.logo_link {
	padding: 0em;
	margin: 0em;
	border: none;
}

#logo:hover {
	color: $offwhite;
	font-weight: bold;
}

section {
	border: none;
}

.bkgd {
	background-color: $lightgrey;
}

.feature {
	display: flex;
}

.feature-left > div {
  /*padding: 20px 0 20px 80px; */
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feature-left > div > img{
  margin-right: 40px;
  width: 50%;
}

.feature-right > p {
	padding-right: 20%;
}

.feature-right > div {
  /*padding: 20px 0px 20px 20px;*/
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feature-right > div > img{
  width: 50%;
  margin-left: 80px;
}

.feature > div > div {
  vertical-align: middle;
  text-align: left;
  width: 37%;
  right: 0;
  font-size: 1.4em;
  display: inline-block;
  color: #615C60;
}

.feature > p {
  font-size: 2vw;
  text-align: left;
}

.feature {
	padding-top:4%;
	padding-bottom: 4%;
}

#document_list {
	list-style-type: none;
	margin-top: 3em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#document_list li{
	text-align: center;
	color: $offwhite;
	background-color: $basecolor;
	display: inline-block;
	margin: 1em;
    padding: .75em;
}

#document_list li:hover {
	background-color: $header;
	color: $offwhite;
}

#document_list li a {
	text-decoration: none;
	border: none;
}

#document_list li a:hover {
	color: $offwhite;
}

#document_list2 {
	list-style-type: none;
	margin-top: 3em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#document_list2 li{
	text-align: center;
	color: $main;
	display: inline-block;
}

#document_list2 li a {
	text-decoration: none;
	border: none;
}

#document_list2 li a div i {
	font-size: 5em;
	width: 100%;
	padding-bottom: 20px;
	color: $basecolor;
}

#document_list2 li a div:hover > * {
	color: $header;
}


#about > ul{
	list-style-type: none;
	margin-top: 3em;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}
#about > ul > li{
	text-align: center;
	vertical-align: top;
	display: inline-block;
	padding: 0 1em;
}

/*
#about > ul > li > .image {
	width: 100%;
}*/

.image > img {
	width: 100%;
	border-radius: 0;
}

#about > ul > li > p {
	padding: 0;
	margin: 0;
	max-width: 100%;
}

#about > ul > li > .name {
	font-weight: normal;
	text-transform: uppercase;
	font-size: 0.9em;
}

#about > ul > li > .major {
	font-size: 0.75em;
}

#features, #video {
	padding: 0;
	margin: 0;
}

#video div {
	position: relative;
    height: auto;
    z-index: 0;
}


#features > img, #video div > img {
	width: 100%;
	padding: 0;
	margin: 0;
	display: block;
}

#video div > img {
  top: 0;
  height: 100%;
  width: 100%;
}

#video div > a {
	position: absolute;
	text-align: center;
	display: inline-block;
	width: 100%;
	top: 50%;
	cursor: pointer;
	border: none;
}

#video div > a > div > * {
	display: inline-block;
	color: $offwhite;
	font-size: lighter;
}

#video div > a > div > *:hover {
	font-weight: 500;

}

#video div > a > div > i {
	font-size: 3em;
	vertical-align: middle;
	padding-right: 20px;
}

#dialog_popup {
    display: none;
    padding: 0;
    border: 0;
    margin: 0;
}


.ui-button, .ui-dialog-titlebar {
	display: auto;
	background: rgba(0,0,0,0);
	border: none;
	padding: 0;
	margin: 0;
	font-size: 2em;
	min-width: 0;
	box-shadow: none;
}

.ui-dialog .ui-dialog-titlebar-close {
	color: rgba(0,0,0,0) !important;
	background: rgba(0,0,0,0);
	box-shadow: none;
	border: none;
	outline: none;
}
.ui-button {
	transform: scale(2);
}

.ui-dialog .ui-dialog-titlebar-close {
	right: auto;
}

.ui-dialog .ui-dialog-title {
	width: 70%;
}

.ui-draggable .ui-dialog-titlebar {
	margin: 0;
	padding: 0;
}

.ui-button:hover {
	box-shadow: none;
	border:none;
	background: rgb(255,255,255);
}

.ui-widget-content {
	background: none;
}

.ui-widget.ui-widget-content {
	padding: 0;
    border: none;
}

.ui-dialog {
	position: relative;
    text-align: center;
    margin-left: auto;
    /* text-align: center; */
    margin-right: auto;
    height: auto;
    left: 0;
}

.override {
	opacity: 0.8;
    background: rgb(1,1,1);
}

