$basecolor: #00838F;
$header: #005662;
$offwhite: #F5F5F6;
$keygrey: #95989A;
$lightgrey: #F2F2F2;
$highlight: #EC407A;


body {
	font-family: "Roboto", sans-serif;
}

#main {
	font-color: $keygrey;
}


#main h2 {
	color: $basecolor;
	text-transform: uppercase;
}

#main p {
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

#main > .main:first-child {
	padding: 0;
}

#nav {
	padding: 0em 3em;
	transition: background-color 200ms linear;
}

#nav + #main {
	padding-top: 0;
}

#wrapper {
	width: 100%;
    margin: 0;
    max-width: 100%;
}

#nav.alt {
	width: 100%;
    max-width: 100%;
    color: $offwhite;
    padding: 0 4em;
    background-color: $header;
}

#nav.alt ul li {
	height: 100%;
}

#nav ul li a:not(.active):hover {
	border-bottom: thick solid $highlight;
	color:inherit;
	background-color:inherit;
	border-radius: 0px;
	padding: 0px;
	margin: 0 1.25em;
}

#nav ul li a.active {
	background-color: $offwhite;
	color: $header;
	border-radius: 0px;
	height: 100%;
	padding: 1em;
}

#nav ul li a.active:hover > span {
	padding-bottom: 5px;
	border-bottom: thick solid $highlight;
}

#nav ul {
	float: right;
}

#nav.scroll {
  background-color: rgba(0,0,0,0);
}

#main_img {
	width: 100%;
}

#video_prototype {
	border: 1px solid $keygrey;
}

#document_list {
	list-style-type: none;
	margin-top: 3em;
}
#document_list li{
	text-align: center;
	color: $offwhite;
	background-color: $basecolor;
	display: inline;
	margin: .5em;
    padding: .75em;
}

#document_list li:hover {
	background-color: $header;
	color: $offwhite;
}

#document_list li a {
	text-decoration: none;
	border: none;
}

#document_list li a:hover {
	color: $offwhite;
}


.hidden {
	opacity: 0;
}

#navlist{
    float: right; 
    display:inline-block;
}

#logo {
	font-family: "Josefin Sans", sans-serif;
	float:left;
	font-size: 1.5em;
    padding-top: .5em;
    padding-left: .5em;
}

.logo_link {
	padding: 0em;
	margin: 0em;
	border: none;
}

#logo:hover {
	color: $offwhite;
	font-weight: bold;
}

section {
	border: none;
}

.bkgd {
	background-color: $lightgrey;
}

.feature {
	display: flex;
}

.feature-left > div {
  /*padding: 20px 0 20px 80px; */
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.feature-left > div > img{
  margin-right: 40px;
  width: 50%;
}

.feature-right > div {
  /*padding: 20px 0px 20px 20px;*/
  width: 40%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 20%;
}

.feature-right > div > img{
  width: 50%;
  margin-right: 80px;
}

.feature > div > div {
  vertical-align: middle;
  text-align: left;
  width: 37%;
  right: 0;
  font-size: 1.4em;
  display: inline-block;
  color: #615C60;
}

.feature > p {
  font-size: 1.75em;
  text-align: left;
}

.feature {
	padding-top:5%;
	padding-bottom: 5%;
}